{% extends "layout.html" %}
{% block content %}
    {% for topic in topics %}
    <div class="border border-info border-3 rounded" style="margin-top:5px">
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{{ url_for('topic', topic_id=topic.id) }}">{{ topic.title }}</a></h2>
            <p class="article-content">{{ topic.description }}</p>
          </div>
        </article>
    </div>
    {% endfor %}
{% endblock %}
